{% extends "WebBundle::pagelayout.html.twig" %}
        {% block title %}
            <title>
                Квест комнаты Oculto
            </title>
        {% endblock %}
{% block metateg %}
    <meta name="description" content="лучшие квест комнаты, {% for quest in quests %}{{ quest.title }}, {% endfor %}">
    <meta name="keywords" content="{% for quest in quests %}{{ quest.title }}, {% endfor %}квест, игра, загадки, лабиринт, головоломки, комната, квеструм, эскейпрум" />
{% endblock %}

{% block page_head_js %}
    {{ parent() }}
{% endblock %}

{% block welcome %}
{% endblock %}

{% block content %}
<section>
    <div class="row">
    <div id="Quests">
        <section>
            <div class="col-lg-2 col-lg-offset-10 fadeInUpBig filters_city">
                <p>Города:
                    <select>
                        <option value="">Все</option>
                        {% for cit in city %}
                            <option value="{{ cit.id }}">{{ cit.title }}</option>
                        {% endfor %}
                    </select>
                </p>
            </div>
        {% for quest in quests %}
            {% if not quest.inprogress %}
             <a href="{{ path('web_quest', {'id': quest.id}) }}"  title="{{ quest.title }}">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 quest_blocks bg-resp  animated fadeInUpBig">
                     {#style="background: #}
                   <img class="qwests_img" src="/uploads/{% if quest.background %}{{ quest.background }}{% else %}{{ quest.image }}{% endif %}">

                </div>
                </a>
            {% else %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 quest_blocks bg-resp  animated fadeInUpBig todown">
                     {#style="background: url#}
                    <img class="qwests_img" src="{% if quest.background %}'/uploads/{{ quest.background }}'{% elseif quest.image %}'/uploads/{{ quest.image }}'{% else %}'/images/logo/logo_w.png'{% endif %}">

                    <div class="inproggress"></div>
                    <h2>{{ quest.title }}.
                        {% if quest.inprogress %}
                            {% if quest.startTime %}
                                Открытие квеста ({{ quest.startTime|date('d/m/y') }})
                            {% else %}
                                Этот квест в процессе разработки
                            {% endif %}
                        {% endif %}
                    </h2>
                </div>
            {% endif %}
        {% endfor %}
        </section>
    </div>
</div>
</section>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script>
        $('#Quests .todown').remove().appendTo('#Quests');
    </script>
{% endblock %}